﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PouchDB</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        

    <style>
        .anyClass {
            height: 200px;
            overflow-y: scroll;
        }
    </style>

</head>
<body ng-app="pouchapp" ng-cloak>
    <br />
    <div class="row" ng-controller="mainController">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Username</label>
                <input type="text" ng-model="username" class="form-control" id="username" placeholder="Username">
                </div>
         </div>
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-default">
                    <div class="panel-heading">Chat</div>
                    <div class="panel-body anyClass" >
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="i in items" ng-if="i.message ">
                                <div class="row">
                                    <div class="col-md-9">
                                      
                                        {{i.message}}
                                    </div>
                                    <div class="col-md-3">
                                        <small>

                                            {{i.user}}  <br />

                                            {{i.date | date:'MM/dd/yyyy HH:mm'}}

                                        </small>

                                    </div>
                                </div>

                            </li>
                        </ul>



                        <div class="alert alert-info" ng-if="loading">
                            Loading remote database...
                        </div>

                        <div class="alert alert-danger" ng-if="!sync && !loading">
                            Offline mode
                        </div>
                        <div class="alert alert-success" ng-if="!!sync  && !loading">
                            Online mode
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">

                                    <input type="text" ng-model="msg" class="form-control" id="msginput" placeholder="msg">

                                </div>
                            </div>

                            <div class="col-md-1 pull-right">
                                <button class="btn" ng-click="save()">
                                    <i class="glyphicon glyphicon-send"></i>
                                </button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script src="//cdn.jsdelivr.net/npm/pouchdb@7.2.1/dist/pouchdb.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
